.skills {
    color: rgb(244, 238, 238);
    padding: 100px;
    background-color: rgb(109,102,89) !important;
    /* text-align: center; */
}

.skillsHr {
    background-color: rgb(33,37,40);
}

.skillsCard:hover .skillsHr {
    background-color: rgb(226,215,212);
}

.skillsCards {
    text-align: center;
    color: rgb(33,37,40);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(226,215,212);
    /* padding: 10px; */
    height: 30vh;
    transition: 0.25s;
    margin-bottom: 25px;
}

.skillsCards:hover {
    color: rgb(226,215,212) !important;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(33,37,40);
    height: 30vh;
}