@font-face {
    font-family: "Branch";
    src: url(../../Fonts/Branch.ttf) format("truetype");
  }

@font-face {
    font-family: "Marie-regular";
    src: url(../../Fonts/Marie-regular.ttf) format("truetype");
  }

.title {
    text-align: center;
}

.darkHr {
  background-color: black;
}