.contactPage {
    padding: 30px;
    background-color: rgb(226,222,219);
}

.contactIcon {
    color: black !important;
    transition: 0.5s;
}
.contactIcon:hover {
    color: rgb(74, 74, 74) !important;
    text-decoration: none;
    margin-left: 5px; 
}

.squarePortrait {
    height: 300px;
    border-radius: 50%;
}

.contactPic {
    text-align: center;
}

.contactText {
    margin-bottom: 10px;
}

.emailLink {
    color: black;
}

.emailLink:hover {
    color: rgb(74, 74, 74) !important;
}