.homeJumbo {
  background-image: url("../../../Images/computer-comp.jpg");
  background-size: cover;

  display: flex;
  align-items: center;

  margin-bottom: 0px !important;
  height: 90vh;
  border-radius: 0 !important;
  margin-top: 0;
}

.jumboTextPanel {
  color: white;
  background-color: rgba(0, 0, 0, 0.892);
  padding: 50px;
  border-radius: 10px;
}

.jumboHr {
  background-color: white;
}

.jumboTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgb(226, 215, 212);
  color: black;
  border-bottom-right-radius: 40px;
}

.jumboTextBox p {
  margin: 0px;
  font-size: 32px;
  font-weight: 500;
}
