.homeJumbo {
    background-image: url('../../../Images/computer-comp.jpg');
    background-size: cover;
    margin-bottom: 0px !important;
    min-height: 90vh;
    border-radius: 0 !important;
    margin-top: 0;
}

.jumboTextPanel {
    color: white;
    background-color: rgba(0, 0, 0, 0.892);
    padding: 50px;
    margin-top: 200px;
    border-radius: 10px;
}

.jumboTextPanel h1 {
    margin-left: 25px;
}

.jumboHr {
    background-color: white;
}

.jumboTextBox {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    padding: 10px;
    background-color: rgb(226,215,212);
    color: black;
    border-bottom-right-radius: 40px;
}