.homeJumbo {
    background-image: url('../../../Images/computer2.jpg');
    background-size: cover;
    margin-bottom: 0px !important;
    min-height: 94.5vh;
    border-radius: 0 !important;
    margin-top: 55px;
}

.jumboTextPanel {
    color: white;
    background-color: rgba(0, 0, 0, 0.892);
    padding: 40px;
    width: 500px;
    margin-top: 200px;
    border-radius: 10px;
}

.jumboHr {
    background-color: white;
}

.jumboTextBox {
    padding: 10px;
    background-color: rgb(226,215,212);
    color: black;
    width: 330px;
}