.aboutMe {
    padding: 100px;
    background-color: rgb(226,215,212);
}

.aboutMeRight {
    text-align: center;
}


.portraitImg {
    height: 475px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .aboutMeTitle {
    padding-top: 10px;
} */