.aboutMe {
  background-color: rgb(226, 215, 212);
  padding-top: 50px;
  padding-bottom: 50px;
}

.aboutMeLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portraitImg {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 14px 28px,
    rgba(0, 0, 0, 0.112) 0px 10px 10px;
    object-fit: cover;
}

.aboutMeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMe-right {
  padding: 15px;
  font-size: 18px;
}
